:root {
  --card-border: var(--card-shade-color);
}

.card > flowboxchild {
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--card-border), transparent);
  border-radius: 0;
}

axis-bar {
  min-height: 12px;
  background: color-mix(in srgb, currentColor 10%, transparent);
  border-radius: 99px;
  margin-top: 6px;
}

.indicator {
  background: color-mix(in srgb, currentColor 10%, transparent);
  min-width: 24px;
  min-height: 24px;
  border-radius: 99px;
}

.indicator:checked {
  background: var(--accent-bg-color);
}
